* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

p {
    color: #fff;
}

@font-face {
    font-family: 'iconfont';
    src: url('../font_1449164_e7y54lyhqgv/iconfont.eot');
    src: url('../font_1449164_e7y54lyhqgv/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../font_1449164_e7y54lyhqgv/iconfont.woff') format('woff'),
        url('../font_1449164_e7y54lyhqgv/iconfont.ttf') format('truetype'),
        url('../font_1449164_e7y54lyhqgv/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: no-repeat;
    background-image: url(http://localhost:8081/images/news/news-bg-0.jpg);
    background-color: #012650;
    background-size: cover cover;
    background-position: -550px 0;
}

.menu {
    width: 100%;
    height: 40px;
    border-top: 1px solid rgba(250, 250, 250, 0.3);
    border-bottom: 1px solid rgba(250, 250, 250, 0.3);
    background-color: rgba(250, 250, 250, 0.1);

    .news-menu {
        width: 1200px;
        min-width: 1000px;
        margin: 0 auto;

        li {
            display: inline-block;
            line-height: 40px;
            font-size: 14.4px;
            font-weight: 400;
            color: hsla(0, 0%, 100%, .7);
            transition: color .2s;
            margin-right: 25px;
            cursor: pointer;
        }

        li:hover {
            color: #ffffff;
        }

        li:hover span {
            display: inline-block;
            line-height: 37px;
            border-bottom: 3px solid #00AEFF;
        }
    }
}

footer {
    width: 600px;
    margin: 80px auto;

    .logo {
        width: 124px;
        margin: 20px auto;
    }

    .footer-word,
    .law-fin {
        color: hsla(0, 0%, 100%, .7);
        line-height: 1.4;
        text-align: center;
        margin-bottom: 20px;
    }

    .word-fin {
        padding: 0 10px;
        cursor: pointer;
    }

    .line-fin {
        font-size: 1px;
        color: hsla(0, 0%, 100%, .3);
    }

    .word-fin:hover {
        color: #fff;
    }

    .copyright,
    .trademark {
        font-size: 13px;
        line-height: 1.4;
        color: hsla(0, 0%, 100%, .3);
        text-align: center;
    }

    .law-fin {
        font-size: 13px;
        margin-top: 8px;
    }

    .icp-fin,
    .lu-fin {
        text-align: center;
        font-size: 11px;
        color: hsla(0, 0%, 100%, .3);
    }

    .finn {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .lu-fin {
            line-height: 23px;
        }
    }
}